* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  font-size: 10px;
  font-family: "roboto", arial, helvetica;
  min-width: 600px;
}
#content {
  position: relative;
  display: block;
  width: 100vw;
  height: fit-content;
  background-color: #f4f4f4;
}
#content__head  {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 3rem;
}
#head__left .arrow {
  display: none;
}
#head__left:has(img:hover) .arrow {
  display: block;
}
.arrow {
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.1s linear 0s;
}
.arrow img {
  height: 100%;
  width: 100%;
  background-color: inherit;
  color: white;
  /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
}
.arrow:hover {
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.1s linear 0s;
  cursor: pointer;
}
#left-arrow {
  left: 1.6rem;
  top: 40%;
  transform: translateY(-50%);
}
#right-arrow {
  right: 1.6rem;
  top: 40%;
  transform: translateY(-50%);
}
#head__left {
  width: inherit;
  height: inherit;
  background-color: #888888;
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
}
#head__left img {
  width: 100%;
}
.content-head__slider {
  width: 100vw;
  height: inherit;
  display: grid;
  grid-auto-flow: column;
  position: relative;
  transition: 0.2s;
  left: 0px;
}
.slide {
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
}
.head-left__title {
  height: 10rem;
  width: 100%;
  position: absolute;
  bottom: 0rem;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 1%,
    rgba(0, 0, 0, 0.7) 90%
  );
  transition: all 0.2s linear 0s;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
}
.head-left__title:hover {
  height: 12rem;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s linear 0s;
}
.head-left__title:hover span {
  display: block;
  position: absolute;
  bottom: 1.6rem;
  font-size: 1.2rem;
  font-weight: 200;
  color: #c1c1c1;
  transition: all 0.2s linear 0s;
}
.head-left__title span {
  display: none;
}
.head-left__title a {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 0.8rem;
}
#posi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  z-index: 1;
  width: 7rem;
  height: auto;
}
.posi-round {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  /* border: 1px solid rgba(0,0,0,1); */
  background-color: #a8a8a8;
}
.posi-active {
  background-color: #45a2d7;
}
#head__right {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 1rem;
}
#head__right div {
  margin-bottom: 0.8rem;
  background-color: #eaeaea;
  overflow: hidden;
  position: relative;
}
#head__right div img {
  width: 100%;
  cursor: pointer;
}
#head__right div div {
  box-sizing: border-box;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 1%,
    rgba(0, 0, 0, 0.9) 90%
  );
  transition: all 0.2s linear 0s;
  color: white;
  text-overflow: ellipsis;
}
#head__right div div a {
  color: white;
}
#head__right div div:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s linear 0s;
}
#content__body {
  width: 100%;
  min-height: 600px;
  display: block;
}
#body__left {
  width: 100%;
  height: 100%;
}
#time_line {
  width: 100%;
  height: 6rem;
  background-color: #45a2d7;
  border-bottom: 1px solid #888888;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.6rem;
  font-size: 2rem;
  font-weight: 300;
}
#time_line__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.time_line-list__item {
  margin: 0.8rem 0rem;
  width: 100%;
  height: 15rem;
  background-color: #c0d1db;
  display: grid;
  grid-template-columns: 2fr 5fr;
}
.time_line-list__item div.images {
  background-color: #dadada;
  margin-right: 0.8rem;
  display: flex;
  align-items: center;
}
.time_line-list__item div img {
  width: 100%;
  height: auto;
}
.time_line-list__item div.item-content {
  flex-grow: 3;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}
.time_line-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  transition: all 0.1s linear 0s;
}
.time_line-title:hover {
  color: #45a2d7;
  transition: all 0.1s linear 0s;
  cursor: pointer;
}
.meta_info {
  height: 1.2rem;
  width: 100%;
  display: flex;
  margin-right: 0.8rem;
  flex-direction: row;
  margin-top: 0.8rem;
  align-items: center;
  font-size: 1.2rem;
  color: #555;
  align-items: center;
}
.meta_info .type {
  margin-right: 1rem;
  font-size: 1.2rem;
  height: fit-content;
  padding: 0.3rem;
  border-radius: 0.3rem;
  background-color: #45a2d7;
  color: white;
  width: fit-content;
  display: inline-block;
}
.meta_info div.time {
  display: inline;
  margin-right: 0.8rem;
}
.meta_info div.time img {
  display: inline;
  width: 1.2rem;
  height: auto;
}
.meta_info .name {
  margin-right: 1rem;
}
.meta_info .comment {
  margin-right: 1rem;
}
.item-content .extract p {
  display: -webkit-box;
  margin-top: 1.2rem;
  font-size: 1.2rem;
  color: #888;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.top1 {
  background-color: #f15555;
}
.top2 {
  background-color: #e59300;
}
.top3 {
  background-color: #4667db;
}
.topOut {
  background-color: #aaa;
}
#popular {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 6rem;
  background-color: #45a2d7;
  font-size: 2rem;
  padding-left: 1.6rem;
}
#popular__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.popular-list__item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
}
.popular-list__item div.ranking {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  padding: 1.6rem;
}
.popular-list__item div.ranking div {
  display: flex;
  border-radius: 0.5rem;
  color: white;
  width: 2.4rem;
  height: 2.4rem;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.popular-list__item div.popular-content {
  padding: 0.8rem 0rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.popular-list__item div.popular-content a {
  color: #333;
}
.popular-list__item div.popular-content a:hover {
  color: #45a2d7;
  transition: all 0.1s linear 0s;
}
@media only screen and (min-width: 1200px) {
  #content {
    left: 50%;
    transform: translateX(-50%);
    width: min(1200px, 100vw);
    height: max(800px, 100vh);
  }
  #content__head  {
    height: 600px;
    display: grid;
    grid-template-columns: minmax(800px, 2fr) 1fr;
    column-gap: 0.8rem;
    margin-bottom: 7.2rem;
  }
  .content-head__slider {
    width: 800px;
    display: grid;
    grid-auto-flow: column;
  }
  .head-left__title {
    padding: 1.6rem;
  }
  .head-left__title:hover span {
    font-size: 1.2rem;
  }
  .head-left__title a {
    font-size: 2.5rem;
  }
  #head__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
  }
  #head__right div:last-of-type {
    margin-bottom: 0rem;
  }
  #head__right div div {
    height: 20%;
  }
  #head__right div div:hover {
    font-size: 1.6rem;
    height: 30%;
  }
  #content__body {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1.6rem;
  }
  #time_line {
    height: 7.2rem;
    font-size: 2.4rem;
  }
  .time_line-list__item div.images {
    margin-right: 1.6rem;
  }
  .time_line-list__item div img {
    height: 100%;
  }
  .time_line-list__item div.item-content {
    padding-bottom: 1.6rem;
  }
  .time_line-title {
    font-size: 2rem;
  }
  .meta_info {
    height: 1.6rem;
    margin-right: 1.6rem;
    margin-top: 1.6rem;
    font-size: 1.6rem;
  }
  .meta_info .type {
    padding: 0.4rem;
    border-radius: 0.5rem;
  }
  .meta_info div.time {
    margin-right: 1rem;
  }
  .meta_info div.time img {

    width: 1.6rem;

  }
  .item-content .extract p {
    margin-top: 1.6rem;
    font-size: 1.6rem;
  }
  #popular {
    height: 7.2rem;
    font-size: 2.4rem;
  }
  .popular-list__item div.popular-content {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #content {
    left: 50%;
    transform: translateX(-50%);
    width: 768px;
    height: max(800px, 100vh);
  }
  #content__head  {
    height: 500px;
    display: grid;
    grid-template-columns: 500px 268px;
    column-gap: 0.8rem;
    margin-bottom: 7.2rem;
  }
  .content-head__slider {
    width: 500px;
    display: grid;
    grid-auto-flow: column;
  }
  .head-left__title {
    padding: 1.4rem;
  }
  .head-left__title:hover span {
    font-size: 1.2rem;
  }
  .head-left__title a {
    font-size: 2.5rem;
  }
  #head__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
  }
  #head__right div:last-of-type {
    margin-bottom: 0rem;
  }
  #head__right div div {
    height: 30%;
  }
  #head__right div div:hover {
    font-size: 1.2rem;
    height: 30%;
    font-weight: bold;
    transition: all 0.1s;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  #content {
    left: 50%;
    transform: translateX(-50%);
    width: 1024px;
    height: max(800px, 100vh);
  }
  #content__head  {
    height: 600px;
    display: grid;
    grid-template-columns: 720px 304px;
    column-gap: 0.8rem;
    margin-bottom: 7.2rem;
  }
  .content-head__slider {
    width: 720px;
    display: grid;
    grid-auto-flow: column;
  }
  .head-left__title {
    padding: 1.4rem;
  }
  .head-left__title:hover span {
    font-size: 1.2rem;
  }
  .head-left__title a {
    font-size: 2.5rem;
  }
  #head__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
  }
  #head__right div:last-of-type {
    margin-bottom: 0rem;
  }
  #head__right div div {
    height: 30%;
  }
  #head__right div div:hover {
    font-size: 1.2rem;
    height: 30%;
    font-weight: bold;
    transition: all 0.1s;
  }
}
