* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ============ HEADER ============ */
.contact-header {
  background-color: black;
  color: aliceblue;
}

/* ============ NAVIGATION BAR =============== */
nav {
  background-color: #c1c8ce;
}

/* ============= element ======================= */

button {
  border: none;
  cursor: pointer;
}

/* ===== Table ===== */

#minus-count {
  height: auto;
  width: auto;
  background-color: #c1c8ce;
}

#breakcum {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52.578px;
  flex-shrink: 0;
  background-color: #f6f7f8;
  opacity: 0.5;
}

.nav-breakcum {
  padding: 0px 10px;
  color: #33a0ff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-breakcum-last {
  padding: 0px 10px;
  color: #262626;
}

table {
  margin: 30px;
  width: 95%;
  border-collapse: collapse;
}

tr {
  height: 150px;
  border-bottom: 2px solid #f6f7f8;
  text-align: start;
  justify-content: space-between;
  align-items: center;
}

thead tr {
  text-transform: uppercase;
  color: #22262a;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 101.992px;
  height: 30px;
  flex-shrink: 0;
  text-align: left;
}

.product-order {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: start;
  justify-items: center;
  align-items: center;
}

.quantity {
  display: flex;
  height: 100%;
  width: 124.537px;
  height: 46px;
  flex-shrink: 0;
  background-color: #f6f7f8;
  justify-content: space-around;
  justify-self: center;
  align-items: center;
}

.quantity button {
  border: none;
  font-size: large;
  background-color: #f6f7f8;
  justify-content: center;
  align-items: center;
}

.break-line {
  height: 2px;
  background-color: #f6f7f8;
}

.payment-option {
  margin: 0px 30px;
  padding: 10px;
  display: flex;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #f6f7f8;
  border-bottom: 2px solid #f6f7f8;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#payment-title {
  flex: 7;
}

#payment-option {
  display: flex;
  flex: 3;
  gap: 10px;
  align-items: center;
}

.rectangle {
  height: 24px;
  width: 24px;
  border-radius: 3px;
  border: 1px solid var(--gray-light, #dfdede);
}

.order-info {
  margin: 20px;
  position: relative;
  left: 65%;
  width: 30%;
  display: inline-flex;
  padding-left: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.order-info div {
  color: #262626;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: auto;
  margin-right: 30px;
  width: 100%;
  display: flex;
}

.order-info div .--1 {
  flex: 7;
}

.order-info div .--2 {
  text-align: center;
  justify-content: center;
  flex: 3;
}

#voucher {
  color: #262626;
  opacity: 0.5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 2px solid #f1f3f4;
  padding: 5px;
}

#confirm {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #33a0ff;
  padding: 5px;
}

#sum-cost {
  color: #22262a;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#order {
  display: block;
  text-align: center;
  width: 319px;
  margin: auto;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  background-color: #33a0ff;
  border-radius: 10px;
}

.--1 {
  cursor: pointer;
}
