* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ============ HEADER ============ */
.contact-header {
  background-color: black;
  color: aliceblue;
}

/* ============ NAVIGATION BAR =============== */
nav {
  background-color: #c1c8ce;
}

/* ============= element ======================= */

button {
  border: none;
  cursor: pointer;
}

img {
  width: 15%;
  height: auto;
}

/* ===== Table ===== */

#minus-count {
  height: auto;
  width: auto;
  background-color: #c1c8ce;
}

#breakcum {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52.578px;
  flex-shrink: 0;
  background-color: #f6f7f8;
  opacity: 0.5;
}

.nav-breakcum {
  padding: 0px 10px;
  color: #33a0ff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-breakcum-last {
  padding: 0px 10px;
  color: #262626;
}

table {
  margin: 2%;
  width: 96%;
  border-collapse: collapse;
}

tr {
  height: auto;
  border-bottom: 2px solid #f6f7f8;
  text-align: start;
  justify-content: space-between;
  align-items: center;
}

thead tr {
  text-transform: uppercase;
  color: #22262a;
  /* font-size: 20px; */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  height: 30px;
  flex-shrink: 0;
  text-align: left;
}

.product-order {
  display: flex;
  gap: 20px;
  justify-content: start;
  justify-items: center;
  align-items: center;
}

.quantity {
  text-align: center;
  display: flex;
  width: 70%;
  height: 46px;
  flex-shrink: 0;
  background-color: #f6f7f8;
  justify-content: space-around;
  justify-self: center;
  align-items: center;
  justify-tracks: center;
}

.quantity button {
  border: none;
  font-size: large;
  background-color: #f6f7f8;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.break-line {
  height: 2px;
  background-color: #f6f7f8;
}

.payment-option {
  margin: 0px 4%;
  padding: 10px;
  display: flex;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #f6f7f8;
  border-bottom: 2px solid #f6f7f8;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#payment-title {
  flex: 7;
}

#payment-option {
  display: flex;
  flex: 3;
  gap: 10px;
  align-items: center;
}

.rectangle {
  height: 24px;
  width: 24px;
  border-radius: 3px;
  border: 1px solid var(--gray-light, #dfdede);
}

/* ============ Order information */
.order-info {
  margin: 1%;
  position: relative;
  left: 55%;
  width: 40%;
  display: inline-flex;
  /* padding-left: 1; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.order-info div {
  color: #262626;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: auto;
  margin-right: 30px;
  width: 100%;
  display: flex;
}

.order-info div .--1 {
  flex: 7;
}

.order-info div .--2 {
  text-align: center;
  justify-content: center;
  flex: 3;
}
.voucher {
  width: 100%;
}

#voucher {
  color: #262626;
  opacity: 0.5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 2px solid #f1f3f4;
  padding: 5px;
}

#confirm {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #33a0ff;
  padding: 5px;
}

#confirm:hover {
  background-color: #3094eb;
}

#sum-cost {
  color: #22262a;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#order {
  display: block;
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  background-color: #33a0ff;
  border-radius: 10px;
}

#order:hover {
  background-color: #3094eb;
}

.--1 {
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  /* Các styles cho màn hình có độ rộng nhỏ hơn hoặc bằng 600px */

  body {
    font-size: 14px;
  }

  /* Cập nhật styles của table và các phần khác tùy thuộc vào yêu cầu của bạn */
  .card-item {
    width: 100%;
    overflow-x: auto;
  }

  .product-order {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .payment-option {
    flex-direction: column;
    align-items: flex-end;
  }

  .order-info {
    margin: 1%;
    position: relative;
    left: 45%;
    width: 50%;
    display: inline-flex;
    /* padding-left: 1; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }
  #order {
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    background-color: #33a0ff;
    border-radius: 10px;
  }

  /* Thêm các styles khác cho phản ứng tại đây */
}
