* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 9;
}
.nav {
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.brand-logo {
    height: 60px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-items i{
    color: #45A2D7;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}

.nav-items i:hover{
    transform: scale(1.3);
}

.search {
    width: 600px;
    display: flex;
}

.search-box {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;   
}

/* .search-btn i {
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #fff;
    color: #3d3a3a;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
} */

/* .search-box::placeholder {
    color:#a9a9a9;
} */

.nav-items a {
    margin-left: 20px;
}

.nav-items a img {
    width: 100px;
    height: 100px;
}

.sign-in{
    width: 800px;
    display: flex;
}

.sign-in-btn {
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #45A2D7;
    color: #fff;
    text-transform: capitalize;
    font-size: 13px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.links-container{
    width: 100%;
    height: 70px;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
    border-top: 1px solid #d1d1d1;
    font-size: 15px;
}

.link-item:first-child a{
    display: flex;
    background-color: #45A2D7;
    color: #0c0c0c;
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.link{
    text-transform: uppercase;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: .5s;
}

.link:hover{
    opacity: 1;
}

/* Quảng cáo đầu trang */
.container {
    padding: 5px 20vw;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    gap: 10px;
}
.sidebar {
    line-height: 0.5;
}

.sidebar ul {
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sidebar li {
    margin-bottom: 1px; 
    border: 1px solid rgb(69, 68, 68);/* Điều chỉnh khoảng cách giữa các mục */
}
  
.sidebar li a {
    display: block;
    color: rgb(10, 10, 10);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    width: 250px;
    height: 30px;
    /* border: 1px solid rgb(69, 68, 68); */
}
  
.sidebar li a:hover {
    background-color: #45A2D7;
    color: white;
}
  
/* .product-image img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
} */

.product-image {
    position: relative;
    width: 300px; 
}

.product-image img {
    width: 100%;
    height: auto;
}

.button-more-discovery {
    display: flex;
    position: absolute;
    bottom: 5;
    width: 30%;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #45A2D7; 
    color: #faf5f5; 
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.button-more-discovery:hover {
    transform: scale(1.1);
}


/* .product-details {
    width: 30%;
} */

/*Contact Section*/
.contact {
    background-color: #45A2D7;
}

.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
    font-size: 15px;   
    color:#00070b;
}

.first-info img{
    width: 140px;
    height: auto;
}

.forth-info iframe{
    width: 300px;
    height: auto;
}

.contact-info h4{
    color: #0d0d0e;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 2;
}

.contact-info p{
    color: #0a0909;
    font-size: 15px;
    font-weight: 400;
    /* text-transform: capitalize; */
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}

.contact-info p:hover{
    color:#00070b;
}

.social-icon{
    color: #565656;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}

.social-icon i:hover{
    transform: scale(1.3);
}

.end-text{
    background-color: #edfff1;
    text-align: center;
    padding: 20px;
}