* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
}
.nav {
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    /* margin-left: 135px; */
    margin-right: 135px;
}

.logo{
    height: 80px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-items i{
    color: #33a0ff;
    /* margin-right: 10px; */
    gap: 10px;
    font-size: 25px;
    transition: all .42s;
}

.nav-items i:hover{
    transform: scale(1.3);
}

.search {
    width: 600px;
    display: flex;
}

.search-box {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;   
}

.nav-items a {
    margin-left: 5px;
}

.nav-items a img {
    width: 100px;
    height: 100px;
}

.sign-in{
    display: flex;
}

.sign-in-btn {
    width: max-content;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #33a0ff;
    color: #fff;
    text-transform: capitalize;
    font-size: 13px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all .42s;
}

.sign-in button:hover{
    transform: scale(1.1);
}

/* Container */

.nav-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: left; /* 'left' is not a valid value for justify-content, use 'flex-start' instead */
    align-items: center;
    gap: 20px; /* Removed the second value, it's not needed for 'gap' */
    border-top: 1px solid #d1d1d1;
    font-size: 14px;
    position: sticky;
    margin-left: 135px;
    margin-right:135px;
}

.nav-container ul {
    display: flex;
    justify-content: flex-start; /* Align list items to the left */
    align-items: center;
    gap: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-container li:first-child {
    display: flex;
    background-color: hsl(208, 100%, 60%);
    color: #0c0c0c;
    width: 250px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.nav-container ul li {
    margin-left: 0; /* Set the left margin to 0 for all list items */
}

.nav-container ul li a {
    text-transform: uppercase;
    padding: 0 10px;
    text-decoration: none;
    color: #383838;
    transition: 0.5s;
}

/* Media query for smaller screens if needed */
@media only screen and (max-width: 768px) {
    /* Additional styles for smaller screens */
}


/* Quảng cáo đầu trang */

.ad-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
    margin-right: 120px;
  }
  
.sidebar, .product-image{
    flex: 1 1 100px;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
}
  
.sidebar{
    flex: 0.35;
}

.sidebar {
    line-height: 0.75;
}

.sidebar ul {
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sidebar li {
    margin-bottom: 1px; 
    border: 0.5px solid #a9a9a9;
}
  
.sidebar li a {
    display: block;
    color: rgb(10, 10, 10);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    width: 250px;
    height: 40px;
}
  
.sidebar li a:hover {
    background-color: #33a0ff;
    color: white;
}

.product-image {
    position: relative;
    width: 300px; 
}

.product-image img {
    width: 100%;
    height: auto;
}

.button-more-discovery {
    display: flex;
    position: absolute;
    top: 85%;
    bottom: 15%;
    left: 10%;
    right: 90%;
    width: 25%;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #f20707; 
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all .2s;
}

.button-more-discovery a{
    color: rgb(248, 246, 246);
}
.button-more-discovery:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
    .toggle-button {
        display: block; /* Display the toggle button on smaller screens */
    }

    .sidebar {
        display: none; /* Hide the sidebar by default on smaller screens */
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #f0f0f0;
        z-index: 1;
    }

    .sidebar.active {
        display: block; /* Display the sidebar when active */
    }

    .ad-container {
        position: relative;
    }
}

/* Recommend products */

.recommend-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
    font-size: 15px;   
    color:#00070b;
    margin-left: 135px;
    float: hidden;
}

.card {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.img-product img {
    width: 80%;
}

.product-description{
    width: 80px;
    display: flex;
    justify-content: space-between;
    /* gap: 1rem; */
    flex-direction: row;
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}

.type, .name-product{
margin-bottom: 5px;
}

.type {
    color: #525151;
}

.name-product{
    font-weight: bold;
}

.sale-price, .original-price {
    /* Adjust styles for prices to be in a row */
    display: inline-block;
    margin-left: 2px; 
}

.sale-price {
color: #40BFFF;
font-size: 13px;
font-weight: bold;
}

.original-price {
color: #D9D9D9;
text-decoration: line-through;
font-size: 12px;
}
  

/*Contact Section*/

.contact {
    background-color: #33a0ff;
    margin-left: 135px;
    margin-right: 135px;
}

.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
    font-size: 15px;   
    color:#00070b;
    margin-left: 10px;
}

.first-info img{
    width: 90px;
    height: auto;
}

.forth-info iframe{
    width: 250px;
    height: auto;
    margin-right: 10px;

}

.contact-info h4{
    color: #0d0d0e;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 3;
}

.contact-info p{
    color: #313030;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}

.first-info p{
    font-size: 13px;

}

.contact-info p:hover{
    color:#00070b;
}

.social-icon{
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}

.social-icon i:hover{
    transform: scale(1.3);
}

.end-text{
    background-color: #edfff1;
    text-align: center;
    padding: 5px;
    height: 30px;
    font-size: 13px;
}

/* RESPONSIVE */

/* media queries */
@media (max-width: 991px){

    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }
}

@media (max-width: 768px){

    header .navbar{
        position: sticky;
        z-index: 1;
        top:100%; left:0; right:0;
    }

    header .nav a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        display: block;
    }
    
    header .container{
        font-size: 70%;
    }

    header .container a:first-child{
        width: 70%;
        height: 70%;
    }

    .navbar {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .nav-items {
        margin-top: 10px; /* Adjust spacing between items */
    }

    .search {
        display: none; /* Hide search box on smaller screens */
    }

    .sign-in-btn {
        font-size: 14px; /* Adjust font size for the sign-in button */
    }
}

/* Responsive for Contact section */

@media only screen and (max-width: 768px) {
    .contact-info {
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    }

    .first-info img {
        width: 60px;
    }

    .social-icon i{
        font-size: 70%;
    }

    .forth-info iframe {
        width: 100%;
    }

    .contact-info h4{
        font-size: 70%
    }

    .contact-info p{
        font-size: 70%
    }
}
