body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 2px;
    text-align: center;
    position: relative;
}
header h1{
    font-size: 32px;
}
header img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 125px; 

}

nav {
    background-color: rgb(255, 115, 0)    ;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    
}

nav li {
    display: inline;
    margin-right: 80px;
    margin-left: 80px;
    padding: 26px 48px;
    font-size: 24px;
    
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.product-details {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-info {
    margin-left: 20px;
    padding: 20px;
}
.product-info h2 {
    font-size: 32px;
}
.product-info h3 {
    font-size: 22px;
}
.product-info p {
    font-size: 28px;
    color: red;
}
.product-info li {
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 40px;
}

.buy-button {
    margin-left: 40%;
    background-color: rgb(255, 115, 0);
    color: #fff;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 20px;
}

.buy-button:hover {
    background-color: #333;
}

nav li:hover{
    background-color: #333;
    
}
.product-image{
    padding: 20px;
    border: 1px solid #ccc;

}
/* CSS cho phần khác */

.product-image-slider {
    width: 70%; /* Đặt chiều rộng của thanh trượt ảnh */
    margin: 0 auto;
}

.product-image-slider img {
    width: 100%;
}
/* CSS cho phần khác */

footer {
    background-color: #333;
    color: #fff;
    margin-top: 5%;
    padding: 5px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
   
}

.footer-content h3 {
    margin-top: 50px;
}

.footer-links ul {
    list-style: none;
    float: left;
}


