body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 2px 2px;
    text-align: left;
    position: relative;
}
header h1{
    font-size: 16px;
    margin-left: 70px;
}
header img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 55px; 

}

nav {
    background-color: rgb(255, 115, 0);
    padding: 1px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    
}

nav li {
    display: inline;
    margin-right: 20px; /* Giảm khoảng cách giữa các mục */
    margin-left: 20px; /* Giảm khoảng cách giữa các mục */
    padding: 17px 36px; /* Giảm padding */
    font-size: 18px;
    text-decoration: none;
    color: #fff; /* Màu chữ trắng */
    font-weight: bold;
    
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

@media (max-width: 768px) {
    nav {
        background-color: rgb(255, 115, 0); /* Change background color for smaller screens */
    }

    nav li {
        margin: 0; /* Remove margin for list items */
        padding: 6px; /* Adjust padding for list items on smaller screens */
    }

    nav a {
        font-size: 16px; /* Adjust font size for links on smaller screens */
    }
}
.product-details {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.product-image {
    flex: 1.5; /* Chiếm 1 nửa chiều rộng */
    padding: 20px;
    border: 1px solid #ccc;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-info {
    flex: 2; /* Chiếm 1 nửa chiều rộng */
    margin-left: 10px;
    padding: 20px;
}


.product-info {
    margin-left: 50px;
    padding: 10px;
}
.product-info h2 {
    font-size: 36px;
}
.product-info h3 {
    font-size: 22px;
}
.product-info p {
    font-size: 22px;
    color: red;
}
.product-info li {
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 40px;
}

.buy-button {
    margin-top: 10px;
    margin-left: 30%;
    background-color: rgb(255, 115, 0);
    color: #fff;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 18px;
}

.buy-button:hover {
    background-color: red;
}

nav li:hover{
    background-color: #333;
    
}
.product-image{
    padding: 20px;
    border: 1px solid #ccc;

}
/* CSS cho phần khác */

.product-image-slider {
    width: 70%; /* Đặt chiều rộng của thanh trượt ảnh */
    margin: 0 auto;
}

.product-image-slider img {
    width: 100%;
}
/* CSS cho phần khác */

footer {
    background-color: #333;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 20px 0px 5px 0px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
   
}

.footer-content h3 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.footer-links ul {
    list-style: none;
    float: left;
}

.product-details {
    max-width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 768px) {
    .product-details {
        flex-direction: column;
    }
}


/* Style cho thanh breadcrumb */
.breadcrumb {
    background-color: #fff; /* Màu nền đen */
    padding: 5px;
}

/* Style cho mỗi liên kết trong breadcrumb */
.breadcrumb a {
    text-decoration: none;
    color: #333; /* Màu chữ trắng */
    font-weight: bold;
    margin-right: 10px;
    font-size: 12px;
    margin-left: 20px;
}

/* Style cho dấu ">" ngăn cách giữa các liên kết */
.breadcrumb span {
    color:#333 ; /* Màu chữ trắng */
    font-size: 10px;
    margin-left: 0px;
}

/* Change the color on hover */
.breadcrumb a:hover {
    color: red; /* Change to your desired color */
}
